<%= javascript_include_tag "js" %>
<script type="text/javascript">	
	banner(350,"/sitemap/D1.jpg|/sitemap/D2.jpg|/sitemap/D3.jpg|/sitemap/D4.jpg|/sitemap/D5.jpg","dx/forum-huwai-1.html|dx/forum-huwai-1.html|dx/forum-huwai-1.html|dx/forum-huwai-1.html|dx/forum-huwai-1.html","happy|out|run|life|share")
</script>

<div id="menubottom"></div>
<div id="content">
<div id="primarycontainer">
	<div id="primarycontent">
	<!-- Primary content area start -->
		<div class="post">
			<h4><%= t(:news) %></h4>
			<ul class="controls">
				<li><a href="/news" class="more"><%= t(:more) %></a></li>
			</ul>
				<div class="contentarea">
					<% @news.each do |news| %>
						<p><%= link_to news.title, news %></p>
					<% end %>
				</div>
		</div>
		<div class="divider2"></div>
			<div class="post">
				<h4>Consequat Odio Vestibulum</h4>
				<div class="contentarea">
					<div class="details">Posted by <a href="#">Jane Doe</a> on September 25, 2006</div>	
						<img src="images/pic3.jpg" class="left" alt="A chinese dragon" />
						<p>Aenean felis quisque eros. Cras lobortis commodo lorem ipsum dolor. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Lorem ipsum dolor sit amet consequat etiam sed dolore.</p>
						<ul class="controls">
							<li><a href="#" class="printerfriendly">Printer Friendly</a></li>
							<li><a href="#" class="comments">Comments (18)</a></li>
							<li><a href="#" class="more">Read More</a></li>				
							</ul>
				</div>
			</div>	
		<div class="divider2"></div>
		
			<div class="post">
				<h4>Adipiscing Nullam</h4>
				<div class="contentarea">
					<div class="details">Posted by <a href="#">Jane Doe</a> on September 25, 2006</div>	
					<p>Eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet felis quisque eros. Cras lobortis commodo lorem ipsum dolor. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit lorem ipsum dolor.</p>
					<ul class="controls">
						<li><a href="#" class="printerfriendly">Printer Friendly</a></li>
						<li><a href="#" class="comments">Comments (18)</a></li>
						<li><a href="#" class="more">Read More</a></li>				
					</ul>
				</div>
			</div>

				<!-- Primary content area end -->
	</div>
</div>

<div id="secondarycontent">
			<!-- Secondary content area start -->
			
			<!-- HINT: Set any div's class to "box" to encapsulate it in (you guessed it) a box -->
	<div class="box">
		<h4>Blandit Veroeros</h4>
		<div class="contentarea">
			<img src="images/pic2.jpg" class="left" alt="Random foliage" />
			<p>Sed etiam et lorem ipsum nulla vero et lobortis felis sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros etiam <a href="#">sed commodo</a>.</p>
		</div>
	</div>
		
	<div>
		<h4>Nullam Dolore</h4>
		<div class="contentarea">
			<ul class="linklist">
				<li><a href="#">Volutpat at varius sed</a></li>
				<li><a href="#">Sollicitudin et arcu</a></li>
				<li><a href="#">Vivamus viverra nullam</a></li>
				<li><a href="#">Turpis vestibulum</a></li>
				<li><a href="#">Sed etiam lorem ipsum</a></li>
				<li><a href="#">Sit amet dolore nulla</a></li>
				<li><a href="#">Facilisi sed tortor</a></li>
				<li><a href="#">Aenean felis quisque</a></li>
				<li><a href="#">Eros cras lobortis vel</a></li>
				<li><a href="#">Purus in eget odio sapien</a></li>
				<li><a href="#">Adipiscing blandit</a></li>
			</ul>
		</div>
	</div>
			<!-- Secondary content area end -->
</div>
</div>