<!DOCTYPE html>
<html>
<head>
  <title>点装装饰</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="upbg"></div>
<div id="outer">
	<div id="header">
			<div class="logo">
 			<a href="/" target="_self">
				<img src="/images/logo.JPG" alt="" width="300" height="150" border="0">
			</a>
			</div>
			<div id="headercontent">
<!-- 				<h1>点装装饰<sup>1.0</sup></h1> -->
				<h1>热线电话：13826002421</h1>
			</div>
	</div>
	<div id="headerpic"></div>
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="/" target="_self">首页</a></li>
			<li><a href="/news" target="_self">最新动态</a></li>
			<li><a href="/abouts" target="_self">走进点装</a></li>
			<li><a href="/partnerships.html" target="_self">产品展厅</a></li>
			<li><a href="/news.html" target="_self">装修社区</a></li>
	      	<li><a href="/application.html" target="_self">人才招募</a></li>
		  	<li><a href="/contact.html" target="_self">售后服务</a></li>
		  	<li><a href="/contact.html" target="_self">在线支持</a></li>
		  	<li><a href="/contact.html" target="_self">QQ</a></li>
		</ul>
	</div>
	<div id="menubottom"></div>
<div id="content">	
<%= yield %>	
</div>
<div class="footer">
<div class="footer_in">
    <p class="copyright">Copyright &copy; 广东点装装饰工程有限公司 2010-2011 粤ICP备0000000</p>
</div>
</div>
</div>
</body>
</html>
